mat-card {
    padding: 0px 30px;
}

.mat-mdc-text-field-wrapper {
    direction: rtl;
}

.mat-mdc-form-field {
    width: 98%;
    margin: 1%;
}

// mat-mdc-text-field-wrapper mdc-text-field mdc-text-field--filled